<h1> <%= post.title %> </h1>
<p><%= post.body %> </p>

<%= link_to "Show Page", post if action_name == "index" %> |
<%= link_to "Edit Page", edit_post_path(post) %> |
<%= link_to "New Comment", new_post_comment_path(@post) %>